@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

body {
  margin: 0;
  padding: 0;
  background: #f4f8fb;
}

h2 {
  margin: 8px 0px 12px 0px;
}


.card {
  font-family: Roboto, sans-serif;
  width: 350px;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  overflow: hidden;
  background: #424242;
  transition: all .5s ease;
  color: white;
}
.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
  cursor: pointer;
}

.card_image {
  width: 95%;
  height: 30vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #141617;
}

.card_text {
  padding: 20px 13px 10px 16px;
}


.title {
  font-weight: 400;
  font-size: 20px;
}

.summary {
  font-size: 14px;
  font-weight: 400;
  color: #a8b6bd;
}

.card_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: roboto, sans-serif;
  padding: 10px 20px 10px 10px;
}


@media only screen and (max-width: 600px) {
  .card {
    width: 80vw;
  }
}
